
header{
    background-color: #885053;
    color: #fff;
}

h1{
    font-size: 30px;
    text-transform: uppercase;
}
ul{
    margin-left: 1.5rem; 
}
li{
    margin-right: 0.7rem;
    cursor: pointer;
}
li:hover{
    color:#D9BFC0 !important;
}